*.swp
*.pyc
assignments/.venv
assignments/assignment1/ipynb_checkpoints/*
assignments/assignment1/cs231n/datasets/cifar-10-batches-py

# gitignore the built release.
assignment3/*

# manual
.git/
.idea/